.goalsPrescription {
    padding: 45px 0;
    position: relative;
    .title {
        margin-bottom: 30px;
    }
    &__text {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
        padding: 0;
        margin-bottom: 60px;
    }
    &__wrapper {
        display: flex;
        position: relative;
        margin-bottom: 30px;
        width: 1180px;
        
    }
    &__list:nth-child(3) {
        ul li {
            margin-bottom: 0px;
        }
    }
    &__list {
        &-title {
            color: #fff;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.3px;
            margin-bottom: 30px;
        }
        &__item {
            &-title {
                padding-top: 10px;
                color: #FFF;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%; 
            }
            &-text {
                color: #FFF;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%; 
                margin-bottom: 8px;
            }
            &-img {
                fill: #FFF;
                filter: drop-shadow(0px 4px 15px #FFF);
                width: 40px;
                height: 40px;
            }
        }
        ul {
            padding: 0;
            margin-bottom: 0;
            li {
                display: flex;
                justify-content: flex-start;
                padding: 0;
                gap: 16px;
                margin-bottom: 30px;
            }
        }
            
    }
    &__scales {
        width: 644px;
        height: 561px;
        img {
            width: 644px;
            height: 100%;
        }
    }
    &__small-text {
        color:  #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }   
}

.right-cabbages {
    position: absolute;
    right: 0;
    width: 326px;
    height: 574px;
    top: 50%;
    transform: translatey(-50%);
    img {
        width: 100%;
        height: 100%;
    }
}
.left-cabbages {
    position: absolute;
    left: 0;
    width: 326px;
    height: 574px;
    top: 50%;
    transform: translatey(-50%);
    img {
        width: 100%;
        height: 100%;
    }
   
}
.line-button {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 27px;
    bottom: -10px;
}
.goalsPrescription__wrapper::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  
  .goalsPrescription__wrapper::-webkit-scrollbar-thumb {
    background: url('../icons/line-button.png') no-repeat;
    width: 40px;
    border-radius: 5px;
  }
  .horizontal-scroll {
    overflow: hidden;
    margin: 0 auto;
  }
  .scroll-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
.slider-line {
  margin-bottom: 20px;
  display: none;
}
  .slider-line,
.output {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

.output {
  background: #ff4500;
  padding: 5px 16px;
  border-radius: 3px;
  color: #fff;
}

.slider-line[type="number"] {
  width: 40px;
  padding: 4px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

.slider-line[type="range"] {
  display: none;
  -webkit-appearance: none;
  margin-right: 15px;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#FEBC28, #FEBC28);
  background-size: 10% 100%;
  background-repeat: no-repeat;
}


/* Input Thumb */
.slider-line[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 50px;
  background: url('../icons/line-button.png') no-repeat;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.slider-line[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 50px;
  background: url('../icons/line-button.png') no-repeat;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.slider-line[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 50px;
  background: url('../icons/line-button.png') no-repeat;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

/* Input Track */
.slider-line[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.slider-line[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.slider-line[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

    