.methabolismRole {
    padding: 45px 0;
    .inner-2 {
        display: flex;
        gap: 25px;
        margin-left: 20px;
    }
    .title {
        padding-left: 50px;
    }
    .listOfLiterature {
        padding-left: 50px;
        margin-bottom: 60px;
    }
    .more {
        img {
            translate: 180;
        }
    }
    &__text {
        color: $text-color;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 31.2px */
        padding-left: 50px;
        width: 93%;
        margin-bottom: 60px;
    }
    &__short-block {
        border-radius: 20px;
        border: 2px solid #008592;
        background: linear-gradient(90deg, #007B79 1.12%, #03A7AE 95.67%);
        display: flex;
        min-height: 187px;
        padding: 60px 120px;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin-bottom: 30px;
        &__button {
            width: 254px;
            height: 72px;
            border-radius: 8px;
            background: #F7941D;
            color: var(--Gastrarex_blue, #FFF);
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.24px;
            text-transform: uppercase;
            border: none;
        }
        &__arrow {
            width: 122px;
            img:nth-child(2) {
                display: none;
            }
        }
        &__formula {
            display: flex;
            p {
                color: #FEC84D;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%; /* 31.2px */
            }
            img {
                width: 217px;
                height: 103px;
            }
        }
    }
    &__wrapper {
        width: 1220px;
        margin-bottom: 30px;
        overflow: hidden;
        
    }
    &__schemes {
        width: 35px;
        height: 370px;
        margin-top: 5px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-datas {
        &__row {
            display: flex;
            gap: 90px;
            margin-bottom: 30px;
            &:nth-child(4) {
                margin-bottom: 0;
            }
            &-title {
                width: 250px;
                color: $main-color;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%; /* 23.4px */
                text-transform: uppercase;
            }
            &-text {
                position: relative;
                width: 350px;
                color: $text-color;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                .arrow-small {
                    position: absolute;
                    left: -60px;
                    top: 7px;
                }
                span {
                    color: #F7941D;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                }
                span.minus {
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
}
.slider-line-second {
    margin-bottom: 20px;
    display: none;
  }
    .slider-line-second,
  .output {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    font-family: Arial, sans-serif;
  }
  
  .output {
    background: #ff4500;
    padding: 5px 16px;
    border-radius: 3px;
    color: #bbb;
  }
  
  .slider-line-second[type="number"] {
    width: 40px;
    padding: 4px 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
  }
  
  .slider-line-second[type="range"] {
    display: none;
    -webkit-appearance: none;
    margin-right: 15px;
    width: 100%;
    height: 4px;
    background: #9ad8da;
    border-radius: 5px;
    background-image: linear-gradient(#FEBC28, #FEBC28);
    background-size: 10% 100%;
    background-repeat: no-repeat;
  }
  
  
  /* Input Thumb */
  .slider-line-second[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 50px;
    background: url('../icons/line-button.png') no-repeat;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
    
  }
  
  .slider-line-second[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 50px;
    background: black;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  .slider-line-second[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 50px;
    background: #027282;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  /* Input Track */
  .slider-line-second[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;

  }
  
  .slider-line-second[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  
  .slider-line-second[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
}