.pop-articles {
       width: 100%;
    height: 100vh;
    background: rgba(22,21,21,.77);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 29;
    justify-content: center;
    align-items: center;
    .skroll-wrapper {
        height: 87%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items:center;
        position: relative;
        border-radius: 16px;
        background: #fff;
        width: 75%;
        .warning {
            height: 100px;
            position: absolute;
            width: 100%;
            z-index: 50;
            bottom:0;
            img.laptop-warning {
                bottom: -13px;
                width: 100%;
                height: 100%;
                border-radius: 0  0 20px 20px;
                z-index: 2;
                padding: 18px 19px;
                background: rgba(255, 255, 255, 0.80);
                backdrop-filter: blur(4px);
            }
            img.mobile-warning {
                height: 100%;
                bottom: -13px;
                width: 100%;
                border-radius: 0  0 20px 20px;
                z-index: 2;
                padding: 18px 19px;
                display: none;
                background: rgba(255, 255, 255, 0.80);
                backdrop-filter: blur(4px);
            }
        }
    }
    .list {
        margin: 0;
        padding: 0;
        li {
            padding: 0;
            margin: 0;
            display: flex;
            margin-top: 20px;
            align-items:center;
            p {
                color:  #343230;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%; /* 31.2px */
            }
        }
    }
    .close-modal {
        z-index: 1000;
        position: absolute;
        border-radius: 800px;
        background: #01c8c8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        right: -15%;
        top: -5%;
        box-shadow: 0 10px 30px 0 rgba(0,71,89,.4);
        padding-top: 2px;
        :hover {
            cursor: pointer;
        }
        box-shadow: 0px 10px 30px 0px rgba(0, 71, 89, 0.40);
        padding-top: 2px;
        img {
            padding-top: 14px;
        }
    }
    &__wrapper {
        width: 100%;
        height: 98%;
        overflow: scroll;
        overflow-x: hidden;
        margin: 0 auto;
        position: absolute;
        background: #fff;
        border-radius: 20px;
        &::-webkit-scrollbar {
            width: 10px;
            height: 154px;  
        }
        &::-webkit-scrollbar-thumb {
            background-color: #A3A3AA;
          }
        
        
    }
    &__white-wrapper {
        background: #FFF;
        border-radius: 20px;
        box-shadow: 0px 1px 18px 25px rgba(0, 0, 0, 0.07);
        width: 100%;
        padding: 60px 80px;
    }
    .title {
        margin-bottom: 40px;
    }
    
    .helpfullArticles__card-content__item {
        display: flex;
        justify-content: center;
        border: none;
        align-items: center;
        gap: 30px;
        margin-bottom: 60px;
    }
    .helpfullArticles__card-content__item-text__descr {
        margin-bottom: 0;
    }
    .a-center {
        
        align-items:center;
    }
    .blue-block {
        background:#008592;
        padding: 40px 80px;
        display: flex;
        gap: 40px;
        position: relative;
        &__question {
            border: solid 2px #fff;
            border-radius: 24px;
            width: 78px;
            height: 78px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items:center;
            img {
                width: 62px;
                height: 62px;
                padding: 5px;
                border-radius: 16px;
                border: 2px solid #FFF;
                background: #F7941D;
                box-shadow: 0px 0px 0px 1px #FFF;
            }
        }
        p   {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; 
            margin: 0;
            padding: 0;
        }
    }
    &__text-block {
        padding: 40px 80px;
        background: #EFF1F1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
            color: #343230;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            padding: 0;
            margin: 0;
        }
        &__wrapper {
            display: flex;
            justify-content: space-between;
            img {
                border-radius: 13px;
            }
            p {
                width: 49%;
            }
        }
    }
    #two {
        .pop-articles__text-block__wrapper {
            flex-direction: row-reverse;
            img {
                width: 45%;
                height: 100%;
            }
        }
    }
    #four {
        .pop-articles__text-block__wrapper {
            p {
                width: 65%;
            }
        }
    }
    #five {
        margin-bottom: 100px;
        .pop-articles__text-block__wrapper {
            p {
                width: 51%;
            }
        }
    }
    #nine {
        .pop-articles__border-text {
            display: block;
            .subtitle {
                text-align: center;
                span {
                    font-size: 24px;
                    font-weight: 400;
                }
            }
        }
        .span_orange {
            font-weight: 700;
        }
        .subtitle {
            margin-bottom: 30px;
        }
        .diagram {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-circle {
                display: flex;
                justify-content: center;
            }
            &-colum {
                &_1 {
                    display: flex;
                    justify-content: space-between;
                    &__number {
                            &:nth-child(1) {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            color: #405A6B;
                            span {
                                font-size: 64px;
                                font-weight: 700;
                            }    
                        }
                        &:nth-child(2) {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            color: #F7941D;
                            span {
                                font-size: 64px;
                                font-weight: 700;
                            }   
                        }
                    }
                }
                &_2 {
                    display: flex;
                    justify-content: space-between;
                    &__number {
                        &:nth-child(1) {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        color: #FE7058;
                        span {
                            font-size: 64px;
                            font-weight: 700;
                        }    
                    }
                    &:nth-child(2) {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        color: #0196BD;
                        span {
                            font-size: 64px;
                            font-weight: 700;
                        }   
                    }
                }
                }
            }
        }
    }
    #ten,#thirteen {
        margin-bottom: 50px;
        .pop-articles__text-block__wrapper {
            margin-bottom: 40px;
            align-items: center;
            p {
                width: 50%;
            }
            gap: 40px;
        }
        .pop-articles__text-block__wrapper-img {
            width: 50%;
            background: #fff;
            border-radius: 13px;
            
            display: flex;
            flex-direction: column;
            gap: 34px;
            height: 100%;
            p {
                color: #343230;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                padding: 0px 42px 33px 62px;
                width: 80%;
            }
            img {
                padding: 36px 45px 0px 0px;
            }
        }
        .listOfLiterature {
            margin-bottom: 50px;
            .title {
                font-size: 24px;
                margin-bottom: 20px;
            }
            ol{
                padding-left: 12px;
            }
        }
    }
    
    &__border-text {
        margin-top: 20px;
        border-radius: 20px;
        border: 2px solid #01C8C8;
        background: #FFF;
        padding: 40px;
        display: flex;
        gap: 20px;
        justify-content: center;
        &__content {
            width: 68%;
            color:  #343230;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }
    }
    .helpfullArticles__card-content__item {
        border-radius: 20px;
        border: 1px solid #01C8C8;
        background: #FFF;
        padding: 40px;
        margin-bottom: 40px;
    }
    .diagram {
        width: 50%;
    }
    .diagram-line {
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding-bottom: 60px;
        p {
            margin-bottom: 30px;
            text-align: center;
            span {
                margin-bottom: 30px;
            }
        }
        img {
            margin: 0 auto;
            display: block;
            width: 80%;
        }
        .list {
            width: 55%;
            position: absolute;
            bottom: 0px;
            right: -172px;
            li {
                justify-content: flex-start;
                align-items:flex-start;
                p {
                    width: 60%;
                    text-align: inherit;
                    color: #008592;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%; /* 23.4px */
                    margin: 0;
                    padding: 0;
                }
                img {
                    width: 40px;
                    height: 40px;
                    display: inline;
                    margin: 0;
                }
            }
        }
    }
}
#ModernTrends {
    .helpfullArticles__card-content__item {
        border: none;
        padding: 0;
        justify-content: unset;
        gap: 60px;
        &:nth-child(3) {
            margin-bottom: 0;
        }
    }
}
