.trends {
    padding: 166px 0 45px 0;
    position: relative;
    &__wrapper {
        display: flex;
        position: relative;
        justify-content: space-between;
        gap: 6%;
    }
    &__bg {
        position: absolute;
        z-index: -1;
        top: -60px;
        img {
            width: 1281px;
            height: 771px;
        }
    }
    &__title-block {
        width: 64%;
        z-index: 1;
        &__title {
            h1 {
                color: $main-color;
                font-size: 64px;
                font-style: normal;
                font-weight: 700;
                margin-bottom: 60px;
            }
        }
    }
    &__text-block {
        z-index: 2;
        width: 73%;
        &__phares {
            margin-bottom: 30px;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            &-text {
                color: $main-color;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                width: 86%;
            }
            &-quote{
                color: $second-color;
                font-size: 64px;
                font-style: normal;
                font-weight: 400;
                line-height: 72px;
                &:nth-child(1) {
                    align-self: self-start;
                    height: 42px;
                    display: flex;
                    align-items: center;
                }
                &:nth-child(3) {
                    align-self: self-end;
                }
            }
        }
        &__person {
            display: flex;
            gap: 30px;
            align-items:center;
            padding: 0 8% 0 8%;
            &-img {
                width: 100px;
                height: 100px;
            }
            &-text {
                width: 63%;
                color: $text-color;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
            }
        }
    }
    .trends__bg-second {
        display: none;
    }
}
.newDownload {
    position: fixed;
    bottom: 2%;
    left: 2%;
    display: none;
    color:  #FFF;
    z-index: 9;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 23.4px */
    text-transform: uppercase;
    button {
        display: inline-flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        color:  #FFF;
        background:  #0196BD;
        width: 656px;
        box-shadow: 0px 10px 30px 0px rgba(0, 71, 89, 0.40);
        border: none;
    }
    
}